@use "../../theme/color-variables" as *;
@use "../../theme/typography-variables" as *;
@use "../../theme/layout-variables" as *;

$user-image-size: 180px;

:host {
    display: block;
    padding-bottom: $spacing-xxxl;
}

.intro {
    position: relative;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(233, 180, 76, 0.82) 0%, $color-orange 100%);
}

.sign-out-btn {
    position: relative;
    max-width: 300px;
    width: 100%;
    margin: 0 $spacing-s $spacing-s 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 200px;
    background-repeat: repeat;
}

.user {
    text-align: center;

    tk-user-image {
        margin: -$user-image-size / 2 auto $spacing-s;
    }
}

.recipes {
    margin-top: $spacing-xl;
}

.grid {
    display: flex;
}

.filters {
    position: sticky;
    top: $spacing-m;
    left: 0;
    width: clamp(150px, 22%, 288px);
    margin-bottom: auto;
    padding-right: $spacing-m;

    > tk-button ::ng-deep {
        margin-bottom: $spacing-s;

        a {
            padding-left: $spacing-xs;
            padding-right: $spacing-xs;
            font-size: $font-xs;
        }
    }
}

.items {
    flex: 1;
}

.no-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: $spacing-xl;

    img {
        margin-bottom: $spacing-m;
    }
}