@use "../../theme/color-variables" as *;
@use "../../theme/typography-variables" as *;
@use "../../theme/layout" as *;
@use "../../theme/layout-variables" as *;
@use "../../theme/filters-grid" as *;

$user-image-size: 180px;

:host {
    display: block;
    padding-bottom: $spacing-xxxl;
}

.intro {
    position: relative;
    height: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(233, 180, 76, 0.82) 0%, $color-orange 100%);
}

.sign-out-btn {
    position: relative;
    max-width: 300px;
    width: 100%;
    margin: 0 $spacing-s $spacing-s 0;

    @include media("<=tablet") {
        max-width: none;
        margin: 0 $spacing-s $spacing-xxxl;
    }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 200px;
    background-repeat: repeat;
}

.user {
    text-align: center;

    tk-user-image {
        margin: -$user-image-size / 2 auto $spacing-s;
    }
}

.recipes {
    margin-top: $spacing-xl;
}

.actions {
    display: none;

    @include media("<=tablet") {
        display: flex;
        justify-content: flex-end;
        margin-bottom: $spacing-m;
    }
}