@use "../../../../theme/color-variables" as *;
@use "../../../../theme/typography-variables" as *;
@use "../../../../theme/layout" as *;
@use "../../../../theme/layout-variables" as *;

.intro {
    position: relative;
    padding: 160px 0 80px;
    background: linear-gradient(180deg, rgba(233, 180, 76, 0.82) 0%, $color-orange 100%);

    @include media("<=phone") {
        padding: 116px 0 50px;
    }

    @include media("<=phone-xs") {
        padding: 108px 0 34px;
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: 200px;
        background-repeat: repeat;
    }

    .content {
        position: relative;
        z-index: 1;
        text-align: center;

        h1 {
            display: inline-block;
            font-size: 160px;
            line-height: 1;
            text-transform: uppercase;
            text-align: left;

            @include media("<=phone") {
                font-size: 80px;
            }

            @include media("<=phone-xs") {
                font-size: 56px;
            }

            span {
                display: block;

                + span {
                    margin-left: 89px;

                    @include media("<=phone") {
                        margin-left: 46px;
                    }

                    @include media("<=phone-xs") {
                        margin-left: 33px;
                    }
                }
            }
        }

        p {
            font-size: $font-xxl + 4;

            @include media("<=phone") {
                font-size: 28px;
            }

            @include media("<=phone-xs") {
                font-size: 22px;
            }
        }
    }
}