@use "../../../theme/color-variables" as *;
@use "../../../theme/typography-variables" as *;
@use "../../../theme/layout" as *;
@use "../../../theme/layout-variables" as *;
@use "../../../theme/utils" as *;

.intro {
    margin-bottom: $spacing-xl;
    padding: 160px 0 80px;
    background: $color-black;
    color: $color-orange;

    @include media("<=tablet") {
        padding: 114px 0 70px;
    }

    h1 {
        text-align: center;
    }
}

.meta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-l;
    margin: $spacing-xl 0 $spacing-s;

    &-item {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        @include media("<=tablet") {
            font-size: $font-s;
        }

        img {
            margin-right: $spacing-xs + $spacing-xxxs;

            @include media("<=tablet") {
                width: 30px;
                height: 30px;
                margin-right: $spacing-xxxs;
            }
        }
    }
}

.gallery {
    margin-bottom: $spacing-xxl;
}

.recipe {
    margin-bottom: $spacing-xxl;

    h3 {
        margin-bottom: $spacing-s;
        font-family: $font-primary;
    }

    .cols {
        display: flex;

        @include media("<=tablet") {
            display: block;
        }
    }

    .ingredients {
        flex: 1 1 40%;

        ul {
            list-style: none;

            li {
                position: relative;
                padding-left: $spacing-xs;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '•';
                }

                + li {
                    margin-top: $spacing-xxs;
                }

                strong, span {
                    display: block;
                }
            }
        }
    }

    .steps {
        flex: 1 1 60%;
        padding-left: $spacing-s;

        @include media("<=tablet") {
            padding-left: 0;
            margin-top: $spacing-m;
        }
    }

    .step {
        + .step {
            margin-top: $spacing-m;
        }

        strong {
            display: block;
            margin-bottom: $spacing-xs;
        }
    }
}

.category-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-m;

    @include media("<=tablet") {
        display: block;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 0;
        gap: $spacing-xxs 0;

        @include media("<=tablet") {
            + p {
                margin-top: $spacing-s;
            }
        }

        &:first-child {
            margin-right: $spacing-xs;

            @include media("<=tablet") {
                margin-right: 0;
            }
        }

        > strong {
            margin: 0 $spacing-xs 0 0;
        }

        > a {
            margin-right: $spacing-xs;
        }
    }
}

.author {
    display: flex;
    justify-content: center;
}

.author-info {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    tk-user-image {
        margin-bottom: $spacing-xs;
    }

    h2 {
        color: $color-white;
    }
}

.actions {
    margin-top: $spacing-m;

    .app-container {
        display: flex;
        justify-content: flex-end;
        gap: $spacing-xs;

        @include media("<=tablet") {
            display: block;

            tk-button {
                width: 100%;

                + tk-button {
                    margin-top: $spacing-xs;
                }

                ::ng-deep {
                    .button {
                        width: 100%;
                    }
                }
            }
        }
    }
}