@use "../../theme/color-variables" as *;
@use "../../theme/typography-variables" as *;
@use "../../theme/layout" as *;
@use "../../theme/layout-variables" as *;

.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: $spacing-xs 0;
  background: rgba($color-black, .8);
}

.logo img {
  @include media("<=phone") {
    width: 50px;
    height: 50px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 0 $spacing-m;

  @include media("<=phone") {
    gap: 0 20px;
  }

  a, button {
    display: inline-flex;
    align-items: center;
    border: 0;
    background: none;
    font-family: $font-heading;
    font-size: $font-xs;
    color: $color-white;
    text-decoration: none;

    @include media("<=phone") {
      font-size: $font-xxs;

      img {
        width: 34px;
        height: 34px;
      }
    }

    @include media("<=phone-xs") {
      font-size: $font-xxxs;

      img {
        width: 28px;
        height: 28px;
      }
    }

    span {
      margin-left: $spacing-xs;
    }
  }
}