<header class="header">
    <div class="app-container container">
        <a class="logo" routerLink="/" aria-label="logo">
            <img ngSrc="/assets/icons/logo.svg" width="59" height="59" priority alt="The Kooc">
        </a>

        <nav class="nav">
            <a routerLink="/recipes">
                <img ngSrc="/assets/icons/recipe.svg" width="38" height="38" alt="Recipe">

                <span>Recipes</span>
            </a>


            <a *ngIf="userData" routerLink="user">
                <img ngSrc="/assets/icons/account-user.svg" width="38" height="38" alt="Recipe">

                <span>Account</span>
            </a>

            <button *ngIf="!userData" (click)="signInUser()">
                <img ngSrc="/assets/icons/account-guest.svg" width="38" height="38" alt="Recipe">

                <span>Sign In</span>
            </button>
        </nav>
    </div>
</header>