$color-white: #fff;
$color-light-gray: #a4a4a4;
$color-text-gray: #777;
$color-black: #333333;
$color-light-beige: #E5C29F;
$color-light-brown: #C69C6D;
$color-orange: #E9B44C;
$color-brown: #C98E4E;
$color-bright-yellow: #e8d7b5;
$color-light-yellow: #F1DCA7;
$color-red: #E76F51;