// Font families
$font-primary: Montserrat, sans-serif;
$font-heading: MuseoModerno, sans-serif;

// Sizes
$font-xxxl: 60px;
$font-xxl: 36px;
$font-xl: 28px;
$font-l: 22px;
$font-m: 20px;
$font-s: 18px;
$font-xs: 16px;
$font-xxs: 14px;
$font-xxxs: 12px;