<div *ngIf="cardData" class="card">
    <div class="image">
        <ng-container *ngIf="cardData?.images?.length">
            <tk-image
                [imageProperties]="{ path: cardData.images[0], hasRetina: false }"
                [alt]="cardData.title"
                [fill]="true"
            />
        </ng-container>

        <tk-image
            *ngIf="!cardData?.images?.length"
            [imageProperties]="{ path: '/assets/icons/dish-placeholder.svg', hasRetina: false }"
            width="100"
            height="100"
            alt="Meal with no image"
        />
    </div>

    <div class="prep-info">
        <p *ngIf="transformCookingTime(cardData.cookingTime) as prepTime" class="prep-info-item">
            <img ngSrc="/assets/icons/prep-time.svg" width="20" height="20" alt="clock icon">

            {{prepTime.hours}}:{{prepTime.minutes}}
        </p>

        <p class="prep-info-item">
            <img ngSrc="/assets/icons/serves.svg" width="20" height="20" alt="serves icon">

            {{cardData.serves}}
        </p>
    </div>

    <div class="content">
        <p class="font-caption">
            <strong>{{cardData.title}}</strong>
        </p>

        <p class="description">
            <ng-container *ngFor="let ingredient of cardData.ingredients">• {{ingredient}} </ng-container>
        </p>

        <p *ngIf="cardData?.tags?.length" class="tags">
            <em>{{transformTags(cardData.tags).join(', ')}}</em>
        </p>

        <a class="author" [routerLink]="'/user/' + cardData.author.uid">
            <div class="author-image">
                <tk-image
                        *ngIf="cardData?.author?.image as imageSrc"
                        [imageProperties]="{ path: imageSrc, hasRetina: false }"
                        [alt]="cardData.author.displayName"
                        [fill]="true"
                />

                <img *ngIf="!cardData?.author?.image" ngSrc="/assets/icons/account-guest.svg" width="16" height="16" alt="User icon">
            </div>

            <strong>{{cardData.author.displayName}}</strong>
        </a>
    </div>

    <a [routerLink]="'/recipes/' + cardData.id" class="card-link"></a>
</div>