<div class="uploader">
    <input
        *ngIf="customControl"
        [formControl]="$any(customControl)"
        (change)="inputChange.emit($event)"
        type="file"
        accept="image/*"
    />

    <input
        *ngIf="!customControl"
        (change)="inputChange.emit($event)"
        type="file"
        accept="image/*"
    />

    <div *ngIf="image" class="main-image">
        <button (click)="inputChange.emit(null)">X</button>

        <img [src]="image" alt="Dish image">
    </div>

    <div *ngIf="!image" class="placeholder">
        <tk-image
                [imageProperties]="{ path: placeholder, hasRetina: false }"
                width="100"
                height="100"
                alt="Meal with no image"
        />

        <h5>Upload image</h5>
    </div>
</div>