@use "../../theme/color-variables" as *;
@use "../../theme/typography-variables" as *;
@use "../../theme/layout-variables" as *;

.components {
    > * {
        display: block;
    }

    tk-intro {
        margin-bottom: $spacing-l;
    }

    tk-callout {
        margin-top: $spacing-xxxl;
    }
}

.preview + .preview {
    margin-top: $spacing-xxl;
}