@use "../../theme/color-variables" as *;
@use "../../theme/typography-variables" as *;
@use "../../theme/layout" as *;
@use "../../theme/layout-variables" as *;

.components {
    > * {
        display: block;
    }

    tk-intro {
        margin-bottom: $spacing-l;
    }

    tk-callout {
        margin-top: $spacing-xxxl;

        @include media("<=phone") {
            margin-top: $spacing-xxl;
        }
    }
}

.preview + .preview {
    margin-top: $spacing-xxl;

    @include media("<=phone") {
        margin-top: $spacing-l;
    }
}