@use "../../../../theme/layout" as *;
@use "../../../../theme/layout-variables" as *;

.categories {
    &-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: $spacing-xs + $spacing-xxxs;

        @include media("<=tablet") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media("<=phone") {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}