<div class="container" [class.loading]="formLoading">
    <div class="app-container">
        <form [formGroup]="form" (submit)="submitForm()">
            <h1>
                <span *ngIf="!isEditMode">Add new recipe</span>

                <span *ngIf="isEditMode">Edit recipe</span>
            </h1>

            <div class="row entry-row">
                <h3>General information</h3>

                <div class="private-checkbox">
                    <tk-checkbox [customControl]="form.get(formControls.private)" label="Private" />
                </div>

                <div class="items">
                    <div class="col">
                        <tk-input-field
                                *ngIf="form.get(formControls.name) as control"
                                [customControl]="control"
                                placeholder="Name"
                                errorWarning="Please fill in"
                        />
                    </div>

                    <div class="col">
                        <tk-input-field
                                *ngIf="form.get(formControls.serves) as control"
                                [customControl]="control"
                                placeholder="Serves"
                                errorWarning="Please fill in"
                        />
                    </div>

                    <div class="col">
                        <div class="prep-time">
                            <tk-input-field
                                    *ngIf="form.get(formControls.hours) as control"
                                    [customControl]="control"
                                    [maxLength]="2"
                                    placeholder="Hours"
                                    errorWarning="Please fill in"
                            />

                            <span>:</span>

                            <tk-input-field
                                    *ngIf="form.get(formControls.minutes) as control"
                                    [customControl]="control"
                                    [maxLength]="2"
                                    placeholder="Minutes"
                                    errorWarning="Please fill in"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row images-row">
                <h3>Images</h3>

                <div class="items">
                    <div *ngFor="let imagesControl of getFormArray(formControls.images); let idx = index" class="col">
                        <tk-image-upload [image]="imagesControl.value?.imageUrl" (inputChange)="handleImageChange($event, idx)" />
                    </div>
                </div>
            </div>

            <div class="row checkbox-row">
                <h3>Categories</h3>

                <div class="items">
                    <div *ngFor="let categoryControl of getFormArray(formControls.categories); let idx = index" class="col">
                        <tk-checkbox [customControl]="categoryControl" [label]="categories[idx].name" />
                    </div>
                </div>
            </div>

            <div class="row checkbox-row">
                <h3>Tags</h3>

                <div class="items">
                    <tk-checkbox
                            *ngFor="let tagsControl of getFormArray(formControls.tags); let idx = index"
                            [customControl]="tagsControl"
                            [label]="tags[idx].name"
                    />
                </div>
            </div>

            <div class="row dynamic-row">
                <h3>Ingredients</h3>

                <div class="items">
                    <div *ngFor="let ingredientControl of getFormArray(formControls.ingredients)" class="col">
                        <tk-input-field
                                [customControl]="ingredientControl"
                                placeholder="Ingredient"
                                errorWarning="Please fill in"
                        />
                    </div>
                </div>

                <tk-button
                        *ngIf="getFormArray(formControls.ingredients).length <= 30"
                        buttonType="button"
                        label="Add more ingredients"
                        buttonStyle="tertiary"
                        [fullWidth]="true"
                        (click)="addMoreControlsOfType(formControls.ingredients, 3)"
                />
            </div>

            <div class="row dynamic-row">
                <h3>Steps</h3>

                <div class="items steps">
                    <div *ngFor="let stepControl of getFormArray(formControls.steps)" class="col">
                        <tk-input-field
                                [textarea]="true"
                                [customControl]="stepControl"
                                placeholder="Step"
                                errorWarning="Please fill in"
                        />
                    </div>
                </div>

                <tk-button
                        *ngIf="getFormArray(formControls.steps).length <= 30"
                        buttonType="button"
                        label="Add more steps"
                        buttonStyle="tertiary"
                        [fullWidth]="true"
                        (click)="addMoreControlsOfType(formControls.steps, 2)"
                />
            </div>

            <div class="actions">
                <tk-button
                        buttonType="submit"
                        [label]="isEditMode ? 'Update' : 'Create'"
                        [fullWidth]="true"
                />
            </div>
        </form>
    </div>
</div>