@use "../../../theme/layout" as *;
@use "../../../theme/layout-variables" as *;
@use "../../../theme/typography-variables" as *;
@use "../../../theme/color-variables" as *;
@use "../../../theme/utils" as *;

.container {
    padding: ($spacing-xxxl + $spacing-xl) 0;

    @include media("<=phone") {
        padding: 130px 0 100px;
    }
}

form {
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        margin-bottom: $spacing-l;

        @include media("<=phone") {
            margin-bottom: $spacing-m;
        }
    }
}

.actions {
    margin-top: $spacing-l;
}

.private-checkbox {
    margin-bottom: $spacing-m;
}

.row {
    h3 {
        margin-bottom: $spacing-m;

        span {
            display: block;
            margin-top: $spacing-xxs;
            font-weight: 400;
        }
    }

    + .row {
        margin-top: $spacing-l;

        @include media("<=phone") {
            margin-top: $spacing-m;
        }
    }
}

.entry-row {
    .items {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        grid-gap: $spacing-s;

        @include media("<=tablet") {
            display: block;
        }
    }

    .col + .col {
        @include media("<=tablet") {
            margin-top: $spacing-xs;
        }
    }
}

.checkbox-row {
    .items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: $spacing-m $spacing-s;
    }
}

.dynamic-row {
    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $spacing-s;
        margin-bottom: $spacing-s;

        @include media("<=tablet") {
            grid-template-columns: 1fr 1fr;
        }

        @include media("<=phone") {
            grid-template-columns: 1fr;
            grid-gap: $spacing-xs;
        }

        &.steps {
            grid-template-columns: 1fr 1fr;

            @include media("<=phone") {
                grid-template-columns: 1fr;
            }
        }
    }
}

.images-row {
    .items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: $spacing-s;

        @include media("<=tablet") {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media("<=phone") {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.prep-time {
    display: flex;
    align-items: center;

    tk-input-field {
        @include media("<=tablet") {
            flex: 1 1 50%;
        }

        ::ng-deep input {
            text-align: center;
        }
    }

    span {
        margin: 0 $spacing-xxs auto;
        font-size: $font-xxl + 5;
        line-height: 0.8;
    }
}

.error {
    color: $color-red;
}