<div class="container">
    <div class="app-container">
        <h1 class="font-heading-2 title">
            Search & Filter for recipes

            <tk-button
                label="Filters"
                buttonStyle="tertiary"
                (click)="toggleMobileFilters = true"
            />
        </h1>

        <div class="grid">
            <div class="filters" [class.mobile-visible]="toggleMobileFilters">
                <button class="filters-close" (click)="toggleMobileFilters = false">X</button>

                <tk-button
                        *ngIf="singInUserData$ | async"
                        [fullWidth]="true"
                        label="+ new recipe"
                        elementType="link"
                        href="/recipes/new"
                />

<!--                todo: Implement on a later stage-->
<!--                <tk-search-field />-->

                <tk-filters (activatedFiltersEvent)="handleActivatedFilters($event)" />
            </div>

            <div class="items" [class.loading]="recipesLoading$ | async">
                <ng-container *ngIf="recipesData$ | async as recipesData">
                    <tk-card-grid *ngIf="recipesData?.length" [cards]="recipesData"/>

                    <div *ngIf="!recipesData?.length" class="no-results">
                        <img src="assets/icons/empty-search-icon.svg" width="200" height="200" alt="Empty search icon">

                        <h3>No results found...</h3>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>