@use "../../theme/color-variables" as *;
@use "../../theme/typography-variables" as *;
@use "../../theme/layout" as *;
@use "../../theme/layout-variables" as *;
@use "../../theme/utils" as *;
@use "../../theme/filters-grid" as *;

.container {
    padding: 160px 0;

    @include media("<=phone") {
        padding: 130px 0 $spacing-xxxl;
    }
}

.title {
    @include media("<=tablet") {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    tk-button ::ng-deep {
        display: none;
        margin-left: $spacing-xxs;

        @include media("<=tablet") {
            display: inline-block;
        }

        .button {
            padding-top: $spacing-xxs;
            padding-bottom: $spacing-xxs;
        }
    }
}