@use "../../../../theme/layout" as *;
@use "../../../../theme/layout-variables" as *;
@use "../../../../theme/color-variables" as *;
@use "../../../../theme/typography-variables" as *;

.callout {
    padding: $spacing-xl 0;
    background: $color-orange;
    color: $color-white;
    text-align: center;

    @include media("<=phone") {
        padding: $spacing-l 0;
    }

    h2 {
        margin-bottom: $spacing-l;
        font-family: $font-primary;

        @include media("<=phone") {
            margin-bottom: $spacing-m;
        }
    }

    tk-button {
        max-width: 400px;
        margin: 0 auto;
    }
}