<!--// todo: Add href to recipe-->
<div *ngIf="cardData" class="card">
    <div class="image">
        <tk-image
            *ngIf="cardData?.image as imageSrc"
            [imageProperties]="{ path: imageSrc, hasRetina: false }"
            [alt]="cardData.title"
            [fill]="true"
        />

        <tk-image
            *ngIf="!cardData?.image"
            [imageProperties]="{ path: '/assets/icons/dish-placeholder.svg', hasRetina: false }"
            width="100"
            height="100"
            alt="Meal with no image"
        />
    </div>

    <div class="prep-info">
        <p class="prep-info-item">
            <img ngSrc="/assets/icons/prep-time.svg" width="20" height="20" alt="clock icon">

            {{cardData.cookingTime}}
        </p>

        <p class="prep-info-item">
            <img ngSrc="/assets/icons/serves.svg" width="20" height="20" alt="serves icon">

            {{cardData.serves}}
        </p>
    </div>

    <div class="content">
        <p class="font-caption">
            <strong>{{cardData.title}}</strong>
        </p>

        <p class="description">
            Lorem ipsum sit dolor amet Lorem ipsum sit dolor amet Lorem ipsum sit dolor amet Lorem amet...
        </p>

        <p *ngIf="cardData?.tags?.length" class="tags">
            <em>{{cardData.tags.join(', ')}}</em>
        </p>

        <a class="author" [routerLink]="cardData.author.url">
            <div class="author-image">
                <tk-image
                        *ngIf="cardData?.author?.image as imageSrc"
                        [imageProperties]="{ path: imageSrc, hasRetina: false }"
                        [alt]="cardData.author.name"
                        [fill]="true"
                />

                <img *ngIf="!cardData?.author?.image" ngSrc="/assets/icons/account-guest.svg" width="16" height="16" alt="User icon">
            </div>

            <strong>{{cardData.author.name}}</strong>
        </a>
    </div>

    <a [routerLink]="cardData.url" class="card-link"></a>
</div>